/* Entire Button Section */
.custom_btn {
  background-color: var(--main-color) !important;
  font-size: 50px !important;
  font-weight: 400 !important;
  border: 0 !important;
  border-radius: 0px 0px 8px 8px !important;
  outline: none !important;
  min-height: 100px;
}

.custom_btn:hover {
  background-color: var(--main-color-focus) !important;
}

.custom_btn .btn_text {
  color: #fefefe !important;
  font-size: 14px !important;
  text-transform: none !important;
  text-align: center;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.custom_btn .btn_icon_container {
  color: black !important;
  background: #fff !important;
  border-radius: 50px !important;
  height: 27px !important;
  width: 27px !important;
  line-height: 29px !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.custom_btn .btn_icon_container .MuiSvgIcon-root {
  font-size: 16px !important;
}
/* End of Entire Button Section */
