/* Entire Profile Section */
.profile {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-radius: 12px;
  width: 100%;
  display: inline-block;
}
/* End of Entire Profile Section */

/* Profile Title Section */
.profile .profile_name {
  line-height: 18px;
  padding: 20px;
}

.profile .profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.profile .profile_name .title {
  font-size: 13px;
  color: #777777;
}
/* End of Profile Title Section */

/* Profile Image Section */
.profile .profile_image {
  margin-top: -10px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile .profile_image img {
  width: 100%;
  object-fit: cover;
}
/* End of Profile Image Section */

/* Profile Information Section */
.profile .profile_information {
  top: 0;
  left: 0;
  margin: -40px 10px 30px;
}

.profile .profile_information .timeline .timelineItem .timelineItem_content {
  margin-left: -5px;
  margin-bottom: 12px;
}

.profile .profile_information .timeline .timelineItem .timelineItem_content .timelineItem_text {
  font-size: 13.5px !important;
  color: #787878;
  font-weight: 400 !important;
}

.profile .profile_information .timeline .timelineItem .timelineItem_content .timelineItem_text > a {
  color: #787878;
  text-decoration: none;
}

.profile .profile_information .timeline .timelineItem .timelineItem_content .timelineItem_text > a:hover {
  color: var(--main-color);
}

.profile .profile_information .timeline .timelineItem .timelineItem_content .timelineItem_text > span {
  color: black;
}
/* End of Profile Information Section */

/* Profile CV Button Section */
.profile .profile_CVButton {
  display: flex !important;
  flex-direction: column;
  margin-top: 20px;
}
/* End of Profile CV Button Section */
