/* Timeline section */
.resume_timeline .timeline_content .timeline_title {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.resume_timeline .timeline_content .timeline_date {
  color: rgb(94, 160, 160);
}

.resume_timeline .timeline_content .timeline_description {
  color: rgb(109, 180, 180);
  font-size: small;
  margin-top: 6px;
  text-align: justify;
}
/* End of Timeline section */

/* Services section */
.service {
  height: 100%;
  text-align: center;
}

.service .service_title {
  color: #fefefe;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
  text-align: center;
}

.service .service_description {
  color: rgb(109, 180, 180);
  border-color: var(--main-color) !important;
  margin-right: 5px;
  text-align: center;
}

.service .service_icon {
  font-size: 55px !important;
}

.service .service_icon > .MuiSvgIcon-root {
  font-size: 36px !important;
  margin-left: 0 !important;
  font-weight: 300 !important;
  color: white !important;
}
/* End of Services section */

/* Skills section */
.skill {
  /* border-radius: 8px;
  box-shadow: 20px 0px 48px 0px rgba(4, 6, 4, 0.13) !important; */
  /* background: rgba(255, 255, 255, 0.95) !important; */
  background: rgba(5, 170, 192, 0.1) !important;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  padding: 20px;
  min-height: 186px;
  height: 100%;
}

.skill .skill_title {
  color: #fefefe;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
}

.skill .skill_description {
  display: flex;
  align-items: center;
  color: rgb(109, 180, 180) !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}

.skill .skill_description .timeline_dot {
  border-color: var(--main-color) !important;
  padding: 2px !important;
  margin-right: 5px !important;
}
/* End of Skills section */
