.aboutme_text {
  color: white;
  font-size: smaller;
  line-height: 22px !important;
  white-space: pre-line;
  text-align: justify;
}

.aboutme_text a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.aboutme_text a:hover {
  color: var(--main-color);
}

.welcome_text {
  color: white;
  font-size: smaller;
  line-height: 22px !important;
  white-space: pre-line;
  text-align: center;
}

.Banner {
  width: 100%;
  object-fit: cover;
}
